.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-left {
	font-size:(28/10)*1rem;
	width:(11/28)*1em;
}
.icon-angle-right {
	font-size:(28/10)*1rem;
	width:(9/28)*1em;
}
.icon-check-circle {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-download {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-envelope-o {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-facebook {
	font-size:(28/10)*1rem;
	width:(16/28)*1em;
}
.icon-globe {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-headset {
	font-size:(1000/10)*1rem;
	width:(1000/1000)*1em;
}
.icon-play-circle-o {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-search {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-sign-in {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-times-circle {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-twitter {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-vk {
	font-size:(28/10)*1rem;
	width:(31/28)*1em;
}
.icon-youtube-play {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
